<!-- <app-todo-input (addTodo)="addTodo($event)"></app-todo-input>
<app-todo-list [todo]="todos" (removeTodo)="removeTodo($event)"></app-todo-list> -->

<section class="" style="background-color: #e2d5de;">
  <div class="container pt-2">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col col-xl-10">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">

            <h6 class="mb-3">Awesome Todo List</h6>
            </div>
        </div>
      </div>
    </div>
  </div>

</section>
