<section class="" style="background-color: #e2d5de;">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">

            <h6 class="mb-3">Awesome Todo List</h6>


  <div data-mdb-input-init class="form-outline flex-fill">
    <form class=" mb-4">
      <label class="form-label" for="form3">What do you need to do today?</label>
    <input class="form-control" type="text" [(ngModel)]="task"  name="taskName" placeholder="New task">
  </form>
  </div>
  <button class="btn btn-primary btn-block mb-4"  (click)="addTask()">Add Task</button></div>
</div>

</div>
</div>
</div>
</section>
